<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="expense-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :value %>
    <%= number_input f, :value, step: "any" %>
    <%= error_tag f, :value %>
  
    <%= label f, :date %>
    <%= text_input f, :date %>
    <%= error_tag f, :date %>
  
    <%= label f, :username %>
    <%= text_input f, :username %>
    <%= error_tag f, :username %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
